@model Proj7_grad_tomasello.Models.CalcMortgage

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Calculate Mortgage</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Principle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Principle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Principle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.Duration, "15", new { @class = "dur" })
                <span>15 Years</span>
                <br />

                @Html.RadioButtonFor(model => model.Duration, "30", new { @class = "dur" })
                <span>30 Years</span>
                <br />

                @Html.RadioButtonFor(model => model.Duration, "Other", new { @class = "dur" })
                <span>Other</span>
                <input type="text" name="OInput" value="" disabled />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @{
                    List<SelectListItem> items = new List<SelectListItem>();
                    for (float i = 0.25f; i < 10.25; i += 0.25f)
                    {
                        SelectListItem item = new SelectListItem { Text = i.ToString(), Value = i.ToString() };
                        items.Add(item);
                    }
                }

                @Html.DropDownListFor(model => model.Rate, items, "-- Select Rate --")
                @*@Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Monthly Payment" class="btn btn-default" />
            </div>
        </div>
    </div>
}

    
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<p>@ViewData["DateTime"] </p>

@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

@section scripts {
    <script>
        $(function () {
            $(".dur").click(function () {
                //alert("test");
                var valIs = $(this).prop('value');
                
                if (valIs == "Other") {
                    $("#OInput").prop('disabled', false);
                    $("#OInput").focus();
                }
                else {
                    $("#OInput").prop('disabled', true);
                    $("#OInput").val("");
                }
            });

        });
     </script>
}